/*////////////////////////////////////////////////////
 //////////////////  General ////////////////////////
 //////////////////////////////////////////////////*/
 
 body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #fff;
    font-family: 'Carme', sans-serif;
    color: #000;
 }
 
 ul{
    list-style: none;
 }
 
 a:link {
    text-decoration: none;
    color: #5a5651;
}

a:visited {
    text-decoration: none;
    color: #5a5651;
}

a:hover {
    text-decoration: none;
    color: #e6e6e6;
}

a:active {
    text-decoration: none;
    color: #5a5651;
}
.jl-bg-dgray{
   background-color: #a6a6a6;
}
.jl-bg-gray{
   background-color: #cfcfcf;
}
.jl-bg-lgray{
   background-color: #f4f4f4;
}
.jl-left{
   text-align: left;
}
.jl-right{
   text-align: right;
}
.jl-center{
   text-align: center;
}
.jl-large{
   font-size: 1.5em;
}
.jl-top{
   vertical-align: top;
}
.btn-primary{
   color: #fff;
   background-color: #4787BE;
   border-color: #2e6da4;
}
.btn-default{
   color: #333;
   background-color: #fff;
   border-color: #f1f1f1;
   border: 1px;
}
.btn-default:hover{
   background-color: #f1f1f1;
   border-color: #cfcfcf;
}
.btn-primary:hover{
   background-color: #2e6da4;
   border-color: #296294;
}
.btn{
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-image: none;
   border: 1px solid #cfcfcf;
   border-radius: 4px;
}
 /*////////////////////////////////////////////////////
 //////////////////  Navigation ///////////////////////
 ///////////////////////////////////////////////////*/
 
 .nav-whole{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #fff;
    width: 67%;
 }
 .nav-ul{
    text-align: center;
    padding: 0px;
    margin: 0px;
 }
 .nav-li{
    text-align: center;
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Carme', sans-serif;
    color: #5a5651;
    width: 16.6%;
 }
 #logo-img{
   height: 60px;
   position: fixed;
   margin-left: 20px;
   margin-top: 20px;
   z-index: 102;
   margin-right: 10px;
 }
 #brand-name{
   height: 60px;
   position: absolute;
   z-index: 102;
   display: inline;
   float: left;
   left: 80px;
 }
 
    /*///////////////////////////////////////////////////
 ////////////////////  CONTACT  ///////////////////////
 ///////////////////////////////////////////////////*/
 
   /*///////////////////////////////////////////////////
 ////////////////////  MODALS  ///////////////////////
 ///////////////////////////////////////////////////*/
 
 .modal{
   position: fixed;
   z-index: 1050;
   text-align: center;
   bottom: 0;
   top: 0;
   right: 0;
   left: 0;
   overflow: hidden;
   background-color: rgba(0,0,0,0.5);
}
.modal-dialog{
   margin: auto;
   position: relative;
   margin: 10px;
   transform: translate(0,0);
}
.modal-content{
   margin: 10% 35% 30% 35%; /* top, right bottom left*/
   text-align: center;
   background-color: #fff;
   border-radius: 6px;
   outline: 0;
   border: 1px solid rgba(0,0,0,.2);
   position: relative;
}
.modal-header{
   border-bottom: 1px solid #e5e5e5;
   margin-bottom: 30px;
   padding-left: 30px;
   background-color: #fff;
}
.modal-footer{
   border-top: 1px solid #e5e5e5;
   margin-top: 30px;
}
.modal-footer>button{
   margin: 30px 0px 30px 0px;
   cursor: pointer;
}
.close{
   border: 0px;
   background-color: #fff;
   cursor: pointer;
   float: right;
   margin-right: 30px;
}
.close:hover{
   color: #e6e6e6;
   
}
    /*//////////////////////////////////////////////////
 //////////////////  INDEX CONTENT  ///////////////////
 ///////////////////////////////////////////////////*/
 
 .index-container{
   width: 100%;
   height: 800px;
   text-align: center;
   margin: auto;
   position: absolute;
 }
 .index-content{
   width: 67%;
   text-align: center;
   margin: auto;
 }
 #index-img{
   width: 100%;
   margin-bottom: 30px;
 }
 #index-p{
   text-align: left;
   font-size: 16px;
   text-indent: 60px;
 }

  /*//////////////////////////////////////////////////
 //////////////////  BROWSE CONTENT  /////////////////
 ///////////////////////////////////////////////////*/
 
 .browse-container{
   width: 100%;
   text-align: center;
   margin: auto;
   position: absolute;
 }
 .browse-table{
   width: 67%;
   text-align: center;
   margin: auto;
   border: 0px;
 }
 .browse-row:hover{
   background-color: #FDF1ED;
   cursor: pointer;
 }
 table{
   border-spacing: 0px;
 }
td{
   padding-left: 10px;
}
.modal-add-table{
   margin: 0px auto 0px auto;
   width: 70%;
}
  /*///////////////////////////////////////////////////
 //////////////////  Social Media /////////////////////
 ///////////////////////////////////////////////////*/
 
   /*///////////////////////////////////////////////////
 /////////////////////  Footer  ///////////////////////
 ///////////////////////////////////////////////////*/
 
 .footer{
   text-align: center;
   width: 67%;
   margin: auto;
   margin-bottom: 35px;
   font-size: small;
   margin-top: 35px;
 }